<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rialto</title>
    <%= favicon_link_tag %>
    <%= stylesheet_pack_tag "app", media: "all" %>
    <%= stylesheet_pack_tag 'blacklight_vue' %>
    <%= javascript_pack_tag 'blacklight_vue' %>
    <%= content_for(:head) %>
  </head>

  <body>
  </body>
</html>
